.itemContainer {
  display: flex;
}

.leftColumn {
  display: flex;
  flex-grow: 1;
  width: 100%;
  flex-direction: column;
}

.title {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.description {

}
