.buttonLink {
  background-color: inherit;
  color: var(--active-font-color)
}

.buttonLinkUnderline {
  background-color: inherit;
  color: var(--active-font-color);
  text-decoration: underline !important;
}

.btnBlueOnHover {
  background-color: inherit;
  color: inherit;
}

.btnBlueOnHover:hover {
  color: var(--active-font-color)
}

.btnWidth100 {
  width: 100%;
}

.navButton {
  box-sizing: border-box;
  position: relative;
  padding: 11px 30px 11px 16px;
  background-color: inherit;
  border-radius:6px;
  border: 1px solid transparent;
}

.navButton:before {
  box-sizing: border-box;
  font-family: 'FontAwesome', serif;
  top: 50%;
  right: 10px;
  font-size: 16px;
  margin: -5px 0 0;
  content: '\f107';
  line-height: 10px;
  position: absolute;
  transition: all 300ms ease-in-out;
}

.navButton:hover {
  color: var(--active-font-color);
  background:#fff;
  border: 1px solid #ddd;
}

.splitTextLines {
  white-space: pre-line;
}

